/* For Color */

:root {
    --black: #14181c;
    --white: #FAFCFE;
    --peach: #FECFBD;
    --pink: #FF8274;
    --blue: #2F4858;
    --font1: 'Source Sans Pro', sans-serif;
}


/* For Fonts - use font-family: font1 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');
body {
    background-color: var(--black);
}


/* Scrollbar hide */

html {
    overflow: scroll;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.header {
    position: fixed;
    width: 100vw;
    height: 6.553vh;
    left: 0px;
    top: 0px;
    z-index: 1;
    /* Black */
    background: var(--black);
}

.logo_header {
    position: absolute;
    width: 2.22222vw;
    height: auto;
    left: 34.4444vw;
    top: 1.3857vh;
}

.iitg_header {
    position: absolute;
    width: 30vw;
    height: 3.695vh;
    left: 38.05555vw;
    top: 1.3857vh;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.8475vh;
    line-height: 2.309vh;
    display: flex;
    align-items: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    /* White */
    color: var(--white);
}

.Announcement {
    position: fixed;
    width: 11.736vw;
    height: 5.08083vh;
    z-index: 1;
    left: 88.26389vw;
    top: 11.5473vh;
    /* Peach 2 */
    background: var(--pink);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.logo_announcement {
    position: absolute;
    width: 2.1736vw;
    height: auto;
    left: 0.47561vw;
    top: 0.6928vh;
}

.text_announcement {
    position: absolute;
    width: 7.8125vw;
    height: 2.3718vh;
    left: 3.125vw;
    top: 1.27vh;
    font-family: var(--font1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.8476vh;
    line-height: 2.3094vh;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Black */
    color: var(--black);
}

.video {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0vw;
    /* right: 10vw; */
    top: 6.582vh;
    opacity: 0.15;
}

.txt_welcome {
    position: absolute;
    width: 28.01388vw;
    height: 12.702vh;
    left: 36.02778vw;
    top: 38.10623vh;
    /* H2 */
    font-family: var(--font1);
    font-style: normal;
    font-weight: 900;
    font-size: 6.23556vh;
    line-height: 12.702vh;
    /* identical to box height, or 204% */
    text-align: center;
    /* Peach 1 */
    color: var(--peach);
}

.txt_iitg {
    position: absolute;
    width: 38.26389vw;
    height: 12.702vh;
    left: 30.902778vw;
    top: 48.037vh;
    /* H1 */
    font-family: var(--font1);
    font-style: normal;
    font-weight: 900;
    font-size: 11.0854vh;
    line-height: 12.702vh;
    /* identical to box height, or 115% */
    text-align: center;
    /* White */
    color: var(--white);
}

.arrow_button {
    position: absolute;
    width: 2.877vw;
    height: auto;
    left: 48.5618vw;
    top: 81.524vh;
}